body.park > section#content > div {
    div.duration {
        font-weight: normal;
        font-family: "Nunito", sans-serif;
        font-style: italic;
        margin-bottom: 10px;
        font-size: 0.9em;
    }

    div.objective {
        margin-bottom: 20px;
    }
}