body.park > section#content > div {
    div.news-release-display, div.article-display {
        display: flex;
        margin-bottom: 10px;

        > img {
            min-width: 110px;
            margin: 5px;
            object-fit: cover;
            width: 110px;
            height: 110px;
            flex: 0 0 0;
        }

        > div.title-abstract, > div.title-description {
            display: flex;
            flex-direction: column;
            flex: 1 1 110px;
            padding: 5px;

            > div.date {
                margin-bottom: 10px;
                font-style: italic;
                font-size: 0.9em;
            }
        }
    }
}