html, body {
  height: 100%;
}

body {
  margin: 0;
}
body > header {
  background-color: #222;
  height: 64px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
}
body > header > div {
  flex-basis: 0;
  flex-grow: 1;
}
body > header > div.header-left {
  display: flex;
  align-items: center;
}
body > header > div.header-left > span.fas {
  font-size: 24px;
  line-height: 40px;
  color: #fff;
  padding: 0 10px;
  cursor: pointer;
}
body > header > div.header-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 3;
}
body > header > div.header-center > img {
  height: 48px;
}
body > header > div.header-center > span {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  padding-left: 8px;
  font-size: 1.6em;
  text-align: center;
}
body > header > div.header-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

a, a:visited, a:hover {
  color: #086aaf;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

div#background-image {
  position: fixed;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  z-index: 1;
  background-size: cover;
  background-position: center center;
}
div#background-image > img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 0.25s;
  object-fit: cover;
}

div#background-image.loaded > img {
  opacity: 1;
}

nav#side-panel {
  left: -450px;
  z-index: 4;
  width: 400px;
  position: fixed;
  top: 0;
  bottom: 0;
  transition: left 0.25s;
  background-color: #333;
  max-width: 85vw;
  padding: 15px 0;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.25);
}
nav#side-panel > header {
  text-align: center;
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  color: #ccc;
}

nav#side-panel.open {
  left: 0;
}

div#nav-shade {
  z-index: 3;
  pointer-events: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transition: background-color 0.25s;
}

div#nav-shade.open {
  pointer-events: all;
  background-color: rgba(0, 0, 0, 0.75);
}

section#content {
  height: 100%;
  width: 100%;
  z-index: 1;
  box-sizing: border-box;
  padding: 74px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}
section#content > * {
  margin-bottom: 10px;
  z-index: 1;
}
section#content > div.searchbox {
  background-color: rgba(34, 34, 34, 0.9);
  padding: 20px;
}
section#content > div.searchbox > div.input-group {
  display: flex;
  align-items: stretch;
}
section#content > div.searchbox > div.input-group > input#search {
  padding: 10px;
  font-family: "Nunito", sans-serif;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  flex-grow: 1;
  font-size: 1.4em;
  outline: none;
}
section#content > div.searchbox > div.input-group > span.fas.fa-search {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
  background-color: #fff;
  padding: 10px;
  font-size: 1.6em;
  display: flex;
  align-items: center;
}

section#content div#suggestions {
  background-color: rgba(34, 34, 34, 0.925);
  padding: 20px;
}
section#content div#suggestions > div.suggestion {
  display: flex;
  padding: 10px;
  background-color: white;
  cursor: pointer;
  flex-direction: column;
  border-radius: 5px;
}
section#content div#suggestions > div.suggestion > h3 {
  font-family: "Montserrat", sans-serif;
}
section#content div#suggestions > div.suggestion > p {
  font-family: "Nunito", sans-serif;
  margin-bottom: 0;
}
section#content div#suggestions > div.suggestion:not(:last-of-type) {
  margin-bottom: 15px;
}
section#content div#suggestions > div.suggestion-loading-container {
  display: flex;
  justify-content: center;
}
section#content div#suggestions > div.suggestions-empty {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3em;
  color: #ddd;
}
section#content div#suggestions:empty {
  display: none;
}

body.searching section#content > div#infobox {
  pointer-events: none;
  opacity: 0;
}

section#content > div#infobox {
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-family: "Nunito", sans-serif;
  padding: 10px;
  background-color: rgba(234, 234, 234, 0.9);
  margin-bottom: 0;
  transition: opacity 0.5s;
}

@media (max-width: 600px) {
  section#content > div#infobox {
    position: relative;
    bottom: unset;
    right: unset;
    transition: unset;
  }
}
.spinner {
  display: inline-block;
  width: 64px;
  height: 64px;
}

.spinner:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 3px solid;
  border-color: #fff #fff #fff transparent;
  animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=application.css.map */
